*	{
	font-family: sans-serif;
}
main	{
	border: 1px solid black;
	margin: 10px;
	padding-top: 10px;
}
h1	{
	text-align: center;
}
h3, p {
	padding-left: 10%;
	padding-right: 10%;
}
main > p {
	font-size: 12pt;
}
main > section {
	padding-left: 0;
	padding-right: 0;
	display: inline;
}
li {
	list-style-type: none;
	margin: 0;
	font-size: 10pt;
	color: white;
	padding-bottom: 3px;
}
h5 {
	margin-bottom: 5px;
	color: white;
}
#container {
	background-color: black;
}
#about	{
	display: inline-block;
	height: 15vh;
	width: 22vw;
	margin-left: 2%;
}
#career	{
	display: inline-block;
	height: 15vh;
	width: 22vw;
}
#follow	{
	display: inline-block;
	height: 15vh;
	width: 22vw;
}
#contact	{
	display: inline-block;
	height: 15vh;
	width: 22vw;
}

span {
	font-size: 8pt;
	margin-right: 5px;
}
footer p {
	font-size: 9pt;
	color: darkcyan;
}
